/* FILEPATH: /mnt/netta/users/qartigala/Bureau/boardgame-v3/v3-app/srcnav.css */

nav {
  background-color: blue;
  overflow: hidden;
  
}
.Nav>h1{
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline;
}

nav button {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav button:hover {
  background-color: darkblue;
}
.content {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
